.Bubble-alert {
		display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #237fff;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 4px 10px;
    font-size: 0.9rem;
    width: 35px;
}

.Bubble-cart {
	width: 1rem;
	margin-right: 0.3rem;
}